@import '../../../assets/scss/shared';

.page {
  @extend %inner;
  @include padding($space-l null);
  min-height: calc(100vh - 150px - 106px - 60px - 60px);

  @include grid-media($m) {
    @include padding(($space-l * 2 )null);
    min-height: calc(100vh - 124px - 124px - 120px - 120px);
  }
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: $space;

  @include grid-media($m) {
    font-size: 60px;
  }
}

.description {
  text-align: center;
  font-weight: normal;
}


.posts {
  display: flex;
  flex-wrap: wrap;
  margin-top: $space-l;
}

.post {
  width: 100%;
  margin-bottom: $space;

  @include grid-media($m) {
    width: calc(1/3 * 100% - #{$space});
    margin-right: $space;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }
}

.post-link {
  display: block;
  padding: $space-s;
  color: $black;
  text-decoration: none;
  background: transparent;

  &:hover {
    background: rgba($purple, 0.5);
  }
}

.post-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.post-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: $space-s 0;
}

.post-description {
  text-align: center;
  font-size: 14px;
}
